@model IEnumerable<Vehicle_Management.Models.VehicleDetails>

@{
    ViewBag.Title = "Vehicle_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />


    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />



    <script src="~/assets/libs/bootstrap-table/bootstrap-table-toolbar.js"></script>
    <script src="~/assets/libs/bootstrap-table/tableExport.js"></script>
    <script type="text/javaScript">

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            });
            return html.join('');
        }

        function DoOnCellHtmlData(cell, row, col, data) {
            var result = "";
            if (typeof data != 'undefined' && data != "") {
                var html = $.parseHTML(data);

                $.each(html, function () {
                    if (typeof $(this).html() === 'undefined')
                        result += $(this).text();
                    else if (typeof $(this).attr('class') === 'undefined' || $(this).hasClass('th-inner') === true)
                        result += $(this).html();
                });
            }
            return result;
        }

        $(function () {
            $('#toolbar').find('select').change(function () {
                $('#table').bootstrapTable('refreshOptions', {
                    exportDataType: $(this).val()
                });
            });
        })

        $(document).ready(function () {
            $('#table').bootstrapTable('refreshOptions', {
                exportOptions: {
                    ignoreColumn: [0, 1], // or as string array: ['0','checkbox']
                    onCellHtmlData: DoOnCellHtmlData
                }
            });
        });

    </script>
</head>
<body>


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="wrapper">
        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box">
                                <h4 class="header-title">Vhicles List</h4>




                                <table id="demo-custom-toolbar" data-toggle="table"
                                       data-toolbar="#demo-delete-row"
                                       data-search="true"
                                       data-show-export="true"
                                       data-show-refresh="true"
                                       data-show-columns="true"
                                       data-sort-name="id"
                                       data-page-list="[5, 10, 20]"
                                       data-page-size="5"
                                       data-pagination="true" data-show-pagination-switch="true" class="table-borderless">
                                    <thead class="thead-light">
                                        <tr>
                                            <th data-field="Vehicle_Number" data-sortable="true">Vehicle Number</th>
                                            <th data-field="Vehicle_Type" data-sortable="true">Vehicle Type</th>
                                            <th data-field="Purchase_Year" data-sortable="true" data-formatter="dateFormatter">Purchase Year</th>
                                            <th data-field="Vehicle_Engine" data-sortable="true" data-formatter="dateFormatter">Vehicle Engine</th>
                                            <th data-field="Current_Mileage" data-sortable="true">Current Mileage</th>

                                            <th data-field="Actions">Actions</th>


                                        </tr>
                                    </thead>
                                   
                                    <tbody>

                                        @if (Model.Count() == 0)
                                        {
                                            <tr>

                                                <td colspan="5">No Record's found.</td>
                                            </tr>


                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                
                                                <td>@item.Vehicle_Number</td>
                                                <td>@item.Purchase_Year</td>
                                                <td>@item.Vehicle_Engine</td>
                                                <td>@item.Current_Mileage</td>

                                                <td></td>
                                                <td>


                                                    <button id="btn_Edit" type="button"  onclick="@Url.Action("View_Vehicles","Vehicle",@item.Vehicle_Id)" class="btn btn-blue waves-effect waves-light" data-plugin="tippy" data-tippy-placement="top" title="Edit"><i class="mdi mdi-eye-outline"></i></button>
                                                    <button id="btn_Delete" type="button" onclick="@Url.Action("Delete_Vehicle","Vehicle",@item.Vehicle_Id)" class="btn btn-danger waves-effect waves-light" data-plugin="tippy" data-tippy-placement="top" title="Delete"><i class="mdi mdi-close"></i></button>

                                                </td>



                                            </tr>
                                        }
                                    </tbody>
                                    
                                </table>
                            </div> <!-- end card-box-->
                        </div> <!-- end col-->
                    </div>


                    <!-- end row-->
                </div> <!-- container -->
            </div>
        </div>
    </div>
    <!-- content -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>
    <!-- App js-->
    <script src="~/assets/js/app.min.js"></script>

    <!-- Bootstrap Tables js -->
    <script src="~/assets/libs/bootstrap-table/bootstrap-table.min.js"></script>

    <!-- Init js -->
    <script src="~/assets/js/pages/bootstrap-tables.init.js"></script>


    <!-- Tippy js-->
   
    <script src="~/assets/libs/tippy-js/tippy.all.min.js"></script>
</body>
</html>